{% extends 'user_authentication/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
{% block extrahead %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#id_From" ).datepicker({ minDate: 0, maxDate: "+12M" , dateFormat: "mm-dd-yyyy",showOn: "button",
  buttonImage: "images/calendar.gif",
  buttonImageOnly: true,
  buttonText: "Select date",
  showOtherMonths: true,
  selectOtherMonths: true});
  } );
  $( function() {
    $( "#id_To" ).datepicker({ minDate: 0, maxDate: "+12M" , dateFormat: "mm-dd-yyyy",showOn: "button",
    buttonImage: "images/calendar.gif",
    buttonImageOnly: true,
    buttonText: "Select date",
    showOtherMonths: true,
    selectOtherMonths: true});
    } );

  </script>
{% endblock %}
</head>
<body>

{% block body %}
<div id="page">
  <nav class="colorlib-nav" role="navigation">
    <div class="top">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <p class="site">www.yoursitehere.com</p>
          </div>
          <div class="col-xs-8 text-right">
            <p class="num">Call: +01-123-456</p>
            <ul class="colorlib-social">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-linkedin"></i></a></li>
              <li><a href="#"><i class="icon-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="top-menu">
      <div class="container">
        <div class="row">
          <div class="col-xs-2">
            <div id="colorlib-logo"><a href="index.html">Luxehotel</a></div>
          </div>
          <div class="col-xs-10 text-right menu-1">
            <ul>
              <li class="active"><a href="index.html">Home</a></li>
              <li class="has-dropdown">
                <a href="rooms-suites.html">Rooms</a>
                <ul class="dropdown">
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">eCommerce</a></li>
                  <li><a href="#">Branding</a></li>
                  <li><a href="#">API</a></li>
                </ul>
              </li>
              <li><a href="dining-bar.html">Dining &amp; Bar</a></li>
              <li><a href="aminities.html">Aminities</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <aside id="colorlib-hero">
    <div class="flexslider">
      <ul class="slides">
        <li style="background-image: url(/media/static/hotel_search/img_bg_5.jpg);">
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                <div class="slider-text-inner text-center">
                  <h2>Welcome to the luxehotel</h2>
                  <h1>A Luxury Hotel</h1>
                  <p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a> <a class="btn btn-primary btn-learn">Know More</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(/media/static/hotel_search/img_bg_1.jpg);">
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                <div class="slider-text-inner text-center">
                  <h2>Discover &amp; Enjoy</h2>
                  <h1>Everything you need in luxehotel</h1>
                  <p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a> <a class="btn btn-primary btn-learn">Know More</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(/media/static/hotel_search/img_bg_3.jpg);">
          <div class="overlay"></div>
          <div class="container-fluids">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                <div class="slider-text-inner text-center">
                  <h2>You are invited</h2>
                  <h1>We know how to please you</h1>
                  <p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a> <a class="btn btn-primary btn-learn">Know More</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(/media/static/hotel_search/img_bg_4.jpg);">
          <div class="overlay"></div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                <div class="slider-text-inner text-center">
                  <h2>Come &amp; enjoy the unforgetable nights</h2>
                  <h1>In the heart of luxehotel</h1>
                  <p><a class="btn btn-primary btn-demo" href="#"></i> View Detail</a> <a class="btn btn-primary btn-learn">Know More</a></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        </ul>
      </div>
  </aside>
  <div id="colorlib-reservation">
    <div class="container">
      <div class="row">
        <div class="col-md-12 search-wrap">
          <form method="post" class="colorlib-form">
            {% csrf_token %}
              <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="date">destination:</label>
                  <div class="form-field">
                    <i class="icon icon-calendar2"></i>
                    {{ form.city_name|as_crispy_field }}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="date">Check-in:</label>
                  <div class="form-field">
                    <i class="icon icon-calendar2"></i>
                      {{ form.From|as_crispy_field }}
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="date">Check-out:</label>
                  <div class="form-field">
                    <i class="icon icon-calendar2"></i>
                      {{ form.To|as_crispy_field }}
                  </div>
                </div>
              </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="adults">Adults</label>
                      <div class="form-field">
                        <i class="icon icon-arrow-down3"></i>
                        <select name="people" id="people" class="form-control">
                          <option value="#">1</option>
                          <option value="#">2</option>
                          <option value="#">3</option>
                          <option value="#">4</option>
                          <option value="#">5+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="children">Children</label>
                      <div class="form-field">
                        <i class="icon icon-arrow-down3"></i>
                        <select name="people" id="people" class="form-control">
                          <option value="#">1</option>
                          <option value="#">2</option>
                          <option value="#">3</option>
                          <option value="#">4</option>
                          <option value="#">5+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <input type="submit" name="submit" id="submit" value="Search" class="btn btn-primary btn-block">
                  </div>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
</div>  
  {% endblock %}
</body>
</html>
