{% extends 'user_authentication/base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    {% block body%}
    <h1>Booking Details:</h1>
   <div class="container">
     <table class="table table-hover">
      <th>Hotel name</th>
     <th>Name</th>
     <th>Gender</th>
     <th>Age</th>
     <th>Room_type</th>
     <th>Room_facility</th>
     <th>From</th>
     <th>To</th>
     {% if book_info %}
       {% for info in book_info %}

         <tr>
           <td>
             {{ info.hotel.name }}
           </td>

           <td>

             {{ info.name }}
           </td>
           <td>
             {% ifequal info.gender|make_list|first "M" %}
               M
             {% endifequal%}
             {% ifequal info.gender|make_list|first "m" %}
               M
             {% endifequal%}
             {% ifequal info.gender|make_list|first "F" %}
               F
             {% endifequal%}
             {% ifequal info.gender|make_list|first "f" %}
               F
             {% else %}
                 Others
             {% endifequal%}
           </td>
           <td>
             {{ info.age }}
           </td>
           <td>
               {{ info.room_type }}
             </td>
           <td>{{ info.room_fac }}</td>
           <td>{{ info.fromdate }}</td>
           <td>
               {{ info.todate }}
           </td>
         </tr>
       {% endfor %}
       {% else %}
       <h1>No-Bookings Yet</h1>
     {% endif %}
   </table>
   </div>
{% endblock%}
  </body>
</html>
