{% extends 'user_authentication/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    {% block extrahead %}
    <title>Iter</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
     <style media="screen">
       input{
         border:2px solid #f0f0f0
       }
       .b:hover{
         color:yellow;
         background-color:white;
       }
     </style>

    {% endblock %}
    </head>
  <body>
{% block body %}
<form method="post" autocomplete="off">
  {% csrf_token%}
    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'bus_booking/images/bg_1.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-12 text-cente " data-scrollax=" properties: { translateY: '70%' }">
            <div class = "row">
              <div class="col-lg-3">
            <p  data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a  style="color:white" href="index.html">Start City</a></span> </p>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{ form.start_city}}</p>
            </div>
            &nbsp
            <div class="col-lg-3">
            <p  data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html" style="color:white">destination_city</a></span> </p>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{ form.destination_city}}</p>
            </div>
            &nbsp
            <div class="col-lg-3" >
            <p  data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html" style="color:white;">journey Date</a></span> </p>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" >{{ form.start_date}}</p>
            </div>
            <script>
              $(function () {
                $("#id_start_date").datepicker({
                  format:'yyyy-mm-dd',
                });
              });
            </script>

            <div class="col-lg-1">
              <p  data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html"></a></span> </p>
              <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><button  type="submit" style="border-radius:0%;width:150%;height:20%" class=" btn btn-primary " >check</button></p>

            </div>

            </div>
          </div>

        </div>
      </div>
    </div>
</form >
		<section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
          	<div class="row">
              {% if bus %}
              {% for b in bus %}
		    			<div class="col-sm col-md-6 col-lg-4 ftco-animate">
		    				<div class="destination">
		    					<div class="text p-3">
		    						<div class="d-flex">
		    							<div class="one">

				    						<h3><a href="#">{{b.0.agency.name}}</a></h3>
				    						<p class="rate">
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star"></i>
				    							<i class="icon-star-o"></i>
				    							<span>8 Rating</span>
				    						</p>
			    						</div>
			    						<div class="two">
			    							<span class="price per-price">Rs{{b.1}}<br></span>
		    							</div>
		    						</div>
		    						<p>bus type :{{b.0.Bus_type}}</p>
                    <p>bus model :{{b.0.Bus_model}}</p>
                    <p>start time {{b.2}}</p>
                    <p>reach time {{b.3}}</p>
		    						<hr>
		    						<p class="bottom-area d-flex">
		    							<span><i class="icon-map-o"></i>journey time {{b.4}}:{{b.5}} hrs</span>
		    							<span class="ml-auto"><a href="{% url 'bus_booking:bus_detail' b.0.serviceno %}">View</a></span>
		    						</p>
		    					</div>
		    				</div>
		    			</div>
              {% endfor %}
              {% elif not bus %}
              <div class="row">
              <div class="col-6">
                <br>
              <h1>SEARCH FOR BUSES</h1>
              </div>
              <div class="col-4">
              <img src="{% static 'images/bus.png' %}" style="width:200px;height:auto"></img>
              </div>
              </div>
              {% endif %}
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->



{% endblock %}





  </body>
</html>
