{% extends 'user_authentication/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
  <head>
    {% block extrahead %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Iter</title>
    <style media="screen">
        input{}

    </style>


    {% endblock %}
    </head>
  <body>
{% block body %}
<br><br><br><br>
<div class="w3-container">
  <h2>MY ITERS <i class="fa fa-paw" aria-hidden="true"></i></h2>

  <div class="w3-card-4" style="width:100%">
    <header class="w3-container w3-light-grey" style="height:80px;padding:10px 50px 10px 50px">
      <h3 style="float:left">Relaxed ITER  </h3>
      <i class="fa fa-heartbeat" style="font-size:48px;color:red;float:right"></i>
    </header>
    <div class="w3-container">
      <p>1 new friend request</p>
      <hr>
      <img src="/media/places/default.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:100px">
      <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
    </div>
    <button class="w3-button w3-block w3-dark-grey"><i class="fa fa-tripadvisor" aria-hidden="true"></i> Add To My ITER-List</button>
  </div>

<br><br>

    <div class="w3-card-4" style="width:100%">
      <header class="w3-container w3-light-grey" style="height:80px;padding:10px 50px 10px 50px">
        <h3 style="float:left">Economic ITER  </h3>
        <i class="fa fa-money" style="font-size:48px;color:green;float:right"></i>
      </header>
      <div class="w3-container">
        <p>1 new friend request</p>
        <hr>
        <img src="/media/places/default.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:100px">
        <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
      </div>
      <button class="w3-button w3-block w3-dark-grey"><i class="fa fa-tripadvisor" aria-hidden="true"></i> Add To My ITER-List</button>
    </div>

<br><br>

      <div class="w3-card-4" style="width:100%">
        <header class="w3-container w3-light-grey" style="height:80px;padding:10px 50px 10px 50px">
          <h3 style="float:left">Rushed ITER  </h3>
          <i class="fa fa-fighter-jet" style="font-size:48px;color:purple;float:right"></i>
        </header>
        <div class="w3-container">
          <p>1 new friend request</p>
          <hr>
          <img src="/media/places/default.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:100px">
          <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
        </div>
        <button class="w3-button w3-block w3-dark-grey"><i class="fa fa-tripadvisor" aria-hidden="true"></i> Add To My ITER-List</button>
      </div>

</div>
<br><br><br><br><br><br><br><br>
{% endblock %}


  </body>
</html>
