<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<html lang="en">
<head>

</head>
<body>

	<div class="limiter">
		<div class="container-login100" >
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w" method="POST">
					<span class="login100-form-title p-b-53">
						Login In With
					</span>


                    <div style="width:500px">

                            {% csrf_token %}
                            {{ form|crispy }}

                    </div>
					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit ">
							LogIn
						</button>
					</div>

					<div class="w-full text-center p-t-55">
						<span class="txt2">
							Not a member?
						</span>

						<a href="#" class="txt2 bo1">
							Sign up now
						</a>
                        <a href="{% url 'password_reset' %}">reset password</a>
					</div>
				</form>
			</div>
		</div>
	</div>



</body>
</html>
